<center>
<img src="http://www.bigdive.eu/wp-content/uploads/2012/05/logoBIGDIVE-01.png">
</center>

---

# PANDAS
(The initial version of this notebook was prepared by Andr√© Panisson for Big Dive 2016.)

---

In [1]:
2+2 #scrivere import antigravity

4

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd
plt.rc('figure', figsize=(10, 6))

Series
======

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [4]:
labels = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(randn(5), index=labels) #pd e' l'abbreviazione di pandas
s

a   -0.700399
b    1.035507
c   -1.704818
d   -0.089106
e    0.565723
dtype: float64

In [5]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

Operators that work in dictionaries also work on Series objects

In [6]:
'b' in s #controlla se c'e' un elemento con l'indice b

True

In [7]:
s['b']

1.035507235615023

We can transform a Series in a dictionary, and a dictionary in a Series

In [9]:
mapping = s.to_dict() #fa diventare una serie un dictionary
mapping

{'a': -0.70039898864904016,
 'b': 1.035507235615023,
 'c': -1.7048184261781354,
 'd': -0.089105591944863949,
 'e': 0.56572271977478628}

In [10]:
s = pd.Series(mapping) #Questo crea una serie
s

a   -0.700399
b    1.035507
c   -1.704818
d   -0.089106
e    0.565723
dtype: float64

Slicing works in a Series the same way it works in numpy arrays

In [13]:
s[:3]

a   -0.700399
b    1.035507
c   -1.704818
dtype: float64

## DataFrame

A Pandas DataFrame is a 2D collection of Series. Each Series of a DataFrame is a column.

This is generally the most commonly used pandas object.

In [15]:
df = pd.DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)})
df
#costruisce un dataFrame -> prendi quello che c'e' dentro le tonde ed usamelo per creare il data frame. 
#e' un approccio a dizionario --> ci sono le parentesi graffe
#ogni colonna e' una serie

          a    b         c
0 -0.673970  foo -0.546136
1 -1.208820  bar  0.265609
2  0.297036  foo -0.044500
3  0.186186  bar  0.417304
4  0.264630  foo  1.929880
5  1.375199  bar -0.203660

In [16]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
df.columns

Index([u'a', u'b', u'c'], dtype='object')

In [22]:
pd.date_range('1/1/2000', periods=6, freq='A')

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [19]:
df = pd.DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               index=pd.date_range('1/1/2000', periods=6)) #qui definisce l'indice.
# vedi http://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html -> per avere la documentazione di date_range
df

                   a    b         c
2000-01-01  0.012509  foo  0.042214
2000-01-02 -0.188078  bar -0.390057
2000-01-03 -0.430971  foo  0.582969
2000-01-04  0.878272  bar  0.626951
2000-01-05 -1.048913  foo  1.203527
2000-01-06 -0.155616  bar -0.042334

In [24]:
df = pd.DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               columns=['a', 'b', 'c', 'd']) #in un data frame posso aggiungere la colonna in questo caso ho usato il costruttore
df

          a    b         c    d
0  0.588717  foo  0.434153  NaN
1 -0.285994  bar -0.115099  NaN
2  0.412570  foo  1.583653  NaN
3  0.297148  bar -0.645853  NaN
4 -2.317659  foo -0.744412  NaN
5 -0.653290  bar  0.272664  NaN

Creation from nested dicts
--------------------------

These arise naturally in Python code

In [27]:
data = {} #crea dizionario vuoto
for col in ['foo', 'bar', 'baz']: #loop per la creazione delle colonne
    for row in ['a', 'b', 'c', 'd']: #loop che crea le righe
        data.setdefault(col, {})[row] = randn() #non e' un set default ma e' un get. Cercami quell'elemento se non c'e settimelo da default
data

{'bar': {'a': 0.8400715767714814,
  'b': -1.4800336985284241,
  'c': 0.24942993943360342,
  'd': -0.6782642340524772},
 'baz': {'a': -1.123060055980009,
  'b': -0.6301173186481674,
  'c': 0.5954651385750162,
  'd': -1.1109783660889285},
 'foo': {'a': 0.44103633511301193,
  'b': -0.625362133114932,
  'c': 2.06707882142564,
  'd': 0.5434953042912599}}

In [28]:
pd.DataFrame(data)

        bar       baz       foo
a  0.840072 -1.123060  0.441036
b -1.480034 -0.630117 -0.625362
c  0.249430  0.595465  2.067079
d -0.678264 -1.110978  0.543495

Data alignment
==============

In [29]:
close_px = pd.read_csv('stock_data.csv', index_col=0, parse_dates=True) #Close_px risultato e' un data frame

In [30]:
close_px.head() # head mi da le prime 5 righe se non specifico N= (numero righe)

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32

In [32]:
shape(close_px) # mi da il numero di righe e colonne

(1000, 9)

In [34]:
close_px.index

DatetimeIndex(['2007-10-29', '2007-10-30', '2007-10-31', '2007-11-01',
               '2007-11-02', '2007-11-05', '2007-11-06', '2007-11-07',
               '2007-11-08', '2007-11-09',
               ...
               '2011-10-03', '2011-10-04', '2011-10-05', '2011-10-06',
               '2011-10-07', '2011-10-10', '2011-10-11', '2011-10-12',
               '2011-10-13', '2011-10-14'],
              dtype='datetime64[ns]', length=1000, freq=None)

In [38]:
type(close_px['AAPL'])

pandas.core.series.Series

In [40]:
close_px.tail() #mi restituisce al coda

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

In [39]:
close_px['AAPL'][-20:]

2011-09-19    411.63
2011-09-20    413.45
2011-09-21    412.14
2011-09-22    401.82
2011-09-23    404.30
2011-09-26    403.17
2011-09-27    399.26
2011-09-28    397.01
2011-09-29    390.57
2011-09-30    381.32
2011-10-03    374.60
2011-10-04    372.50
2011-10-05    378.25
2011-10-06    377.37
2011-10-07    369.80
2011-10-10    388.81
2011-10-11    400.29
2011-10-12    402.19
2011-10-13    408.43
2011-10-14    422.00
Name: AAPL, dtype: float64

In [41]:
close_px['AAPL'][-25:-10]

2011-09-12    379.94
2011-09-13    384.62
2011-09-14    389.30
2011-09-15    392.96
2011-09-16    400.50
2011-09-19    411.63
2011-09-20    413.45
2011-09-21    412.14
2011-09-22    401.82
2011-09-23    404.30
2011-09-26    403.17
2011-09-27    399.26
2011-09-28    397.01
2011-09-29    390.57
2011-09-30    381.32
Name: AAPL, dtype: float64

In [67]:
#esempio *args *kwargs
def funzione(uno,*due,**tre):
    print 'uno => ',uno
    for i in due:
        print 'due => ',i
    for j in tre:
        print 'tre => ',j,tre[j]

myDict = {'prova':('uno','due','tre')}
funzione('Ciao mondo','cane', 'pippo', 'pluto',a=5,b=6,**myDict)

uno =>  Ciao mondo
due =>  cane
due =>  pippo
due =>  pluto
tre =>  a 5
tre =>  prova ('uno', 'due', 'tre')
tre =>  b 6

In [68]:
s1 = close_px['AAPL'][-20:] 
s2 = close_px['AAPL'][-25:-10]

def side_by_side(*objs, **kwds):
    #from pandas.core.common import adjoin <-- dipende dalla versione di panda . hanno spostato la classe da 
    # package ad un altro
    from pandas.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)
    
side_by_side(s1, s2) #stessi elementi ma non allineati

2011-09-19    411.63          2011-09-12    379.94
2011-09-20    413.45          2011-09-13    384.62
2011-09-21    412.14          2011-09-14    389.30
2011-09-22    401.82          2011-09-15    392.96
2011-09-23    404.30          2011-09-16    400.50
2011-09-26    403.17          2011-09-19    411.63
2011-09-27    399.26          2011-09-20    413.45
2011-09-28    397.01          2011-09-21    412.14
2011-09-29    390.57          2011-09-22    401.82
2011-09-30    381.32          2011-09-23    404.30
2011-10-03    374.60          2011-09-26    403.17
2011-10-04    372.50          2011-09-27    399.26
2011-10-05    378.25          2011-09-28    397.01
2011-10-06    377.37          2011-09-29    390.57
2011-10-07    369.80          2011-09-30    381.32
2011-10-10    388.81          Name: AAPL, dtype: float64
2011-10-11    400.29
2011-10-12    402.19
2011-10-13    408.43
2011-10-14    422.00
Name: AAPL, dtype: float64

In [70]:
s1 + s2 #mi restituisce l'intersezione tra le due serie

2011-09-12       NaN
2011-09-13       NaN
2011-09-14       NaN
2011-09-15       NaN
2011-09-16       NaN
2011-09-19    823.26
2011-09-20    826.90
2011-09-21    824.28
2011-09-22    803.64
2011-09-23    808.60
2011-09-26    806.34
2011-09-27    798.52
2011-09-28    794.02
2011-09-29    781.14
2011-09-30    762.64
2011-10-03       NaN
2011-10-04       NaN
2011-10-05       NaN
2011-10-06       NaN
2011-10-07       NaN
2011-10-10       NaN
2011-10-11       NaN
2011-10-12       NaN
2011-10-13       NaN
2011-10-14       NaN
Name: AAPL, dtype: float64

In [72]:
pd.concat([s1,s2],axis=1) #metodo concat di Panda --> fa il match tra due liste e li mette vicino
#axis ha come valore 0

              AAPL    AAPL
2011-09-12     NaN  379.94
2011-09-13     NaN  384.62
2011-09-14     NaN  389.30
2011-09-15     NaN  392.96
2011-09-16     NaN  400.50
2011-09-19  411.63  411.63
2011-09-20  413.45  413.45
2011-09-21  412.14  412.14
2011-09-22  401.82  401.82
2011-09-23  404.30  404.30
2011-09-26  403.17  403.17
2011-09-27  399.26  399.26
2011-09-28  397.01  397.01
2011-09-29  390.57  390.57
2011-09-30  381.32  381.32
2011-10-03  374.60     NaN
2011-10-04  372.50     NaN
2011-10-05  378.25     NaN
2011-10-06  377.37     NaN
2011-10-07  369.80     NaN
2011-10-10  388.81     NaN
2011-10-11  400.29     NaN
2011-10-12  402.19     NaN
2011-10-13  408.43     NaN
2011-10-14  422.00     NaN

In [74]:
close_px.tail()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

In [78]:
df = close_px.ix[-2:-1,0:3]
df

              AA    AAPL     GE
2011-10-13  10.1  408.43  16.22

In [81]:
print close_px.shape[0]
print len(close_px.index)

1000
1000

In [73]:
df = close_px.ix[-10:, :3] # ultime 10 riche e il :3 sono le prime 3 colonne
df

               AA    AAPL     GE
2011-10-03   8.90  374.60  14.69
2011-10-04   9.12  372.50  14.86
2011-10-05   9.37  378.25  15.27
2011-10-06   9.88  377.37  15.53
2011-10-07   9.71  369.80  15.50
2011-10-10  10.09  388.81  16.14
2011-10-11  10.30  400.29  16.14
2011-10-12  10.05  402.19  16.40
2011-10-13  10.10  408.43  16.22
2011-10-14  10.26  422.00  16.60

In [83]:
print s1

2011-09-19    411.63
2011-09-20    413.45
2011-09-21    412.14
2011-09-22    401.82
2011-09-23    404.30
2011-09-26    403.17
2011-09-27    399.26
2011-09-28    397.01
2011-09-29    390.57
2011-09-30    381.32
2011-10-03    374.60
2011-10-04    372.50
2011-10-05    378.25
2011-10-06    377.37
2011-10-07    369.80
2011-10-10    388.81
2011-10-11    400.29
2011-10-12    402.19
2011-10-13    408.43
2011-10-14    422.00
Name: AAPL, dtype: float64

In [85]:
print s2.index
print s1.reindex(s2.index) #dammi le righe che sono presenti nella serie S2. In pratica ti dice che 
# gli elementi di s1 che sono presenti in s2

DatetimeIndex(['2011-09-12', '2011-09-13', '2011-09-14', '2011-09-15',
               '2011-09-16', '2011-09-19', '2011-09-20', '2011-09-21',
               '2011-09-22', '2011-09-23', '2011-09-26', '2011-09-27',
               '2011-09-28', '2011-09-29', '2011-09-30'],
              dtype='datetime64[ns]', freq=None)
2011-09-12       NaN
2011-09-13       NaN
2011-09-14       NaN
2011-09-15       NaN
2011-09-16       NaN
2011-09-19    411.63
2011-09-20    413.45
2011-09-21    412.14
2011-09-22    401.82
2011-09-23    404.30
2011-09-26    403.17
2011-09-27    399.26
2011-09-28    397.01
2011-09-29    390.57
2011-09-30    381.32
Name: AAPL, dtype: float64

In [86]:
side_by_side(s1.reindex(s2.index), s2) #stampami le cose a fianco -->

2011-09-12       NaN          2011-09-12    379.94
2011-09-13       NaN          2011-09-13    384.62
2011-09-14       NaN          2011-09-14    389.30
2011-09-15       NaN          2011-09-15    392.96
2011-09-16       NaN          2011-09-16    400.50
2011-09-19    411.63          2011-09-19    411.63
2011-09-20    413.45          2011-09-20    413.45
2011-09-21    412.14          2011-09-21    412.14
2011-09-22    401.82          2011-09-22    401.82
2011-09-23    404.30          2011-09-23    404.30
2011-09-26    403.17          2011-09-26    403.17
2011-09-27    399.26          2011-09-27    399.26
2011-09-28    397.01          2011-09-28    397.01
2011-09-29    390.57          2011-09-29    390.57
2011-09-30    381.32          2011-09-30    381.32
Name: AAPL, dtype: float64    Name: AAPL, dtype: float64

In [87]:
b, c  = s1.align(s2, join='inner') #join fra le due serie --->  interesezione
side_by_side(b, c)

2011-09-19    411.63          2011-09-19    411.63
2011-09-20    413.45          2011-09-20    413.45
2011-09-21    412.14          2011-09-21    412.14
2011-09-22    401.82          2011-09-22    401.82
2011-09-23    404.30          2011-09-23    404.30
2011-09-26    403.17          2011-09-26    403.17
2011-09-27    399.26          2011-09-27    399.26
2011-09-28    397.01          2011-09-28    397.01
2011-09-29    390.57          2011-09-29    390.57
2011-09-30    381.32          2011-09-30    381.32
Name: AAPL, dtype: float64    Name: AAPL, dtype: float64

In [88]:
b, c  = s1.align(s2, join='outer') # prende entrambi i valori nulli -> mi fa l'intersezione e lascia i null
#sia di uno che dell'altra serie
side_by_side(b, c)

2011-09-12       NaN          2011-09-12    379.94
2011-09-13       NaN          2011-09-13    384.62
2011-09-14       NaN          2011-09-14    389.30
2011-09-15       NaN          2011-09-15    392.96
2011-09-16       NaN          2011-09-16    400.50
2011-09-19    411.63          2011-09-19    411.63
2011-09-20    413.45          2011-09-20    413.45
2011-09-21    412.14          2011-09-21    412.14
2011-09-22    401.82          2011-09-22    401.82
2011-09-23    404.30          2011-09-23    404.30
2011-09-26    403.17          2011-09-26    403.17
2011-09-27    399.26          2011-09-27    399.26
2011-09-28    397.01          2011-09-28    397.01
2011-09-29    390.57          2011-09-29    390.57
2011-09-30    381.32          2011-09-30    381.32
2011-10-03    374.60          2011-10-03       NaN
2011-10-04    372.50          2011-10-04       NaN
2011-10-05    378.25          2011-10-05       NaN
2011-10-06    377.37          2011-10-06       NaN
2011-10-07    369.80          2011-10-07       NaN
2011-10-10    388.81          2011-10-10       NaN
2011-10-11    400.29          2011-10-11       NaN
2011-10-12    402.19          2011-10-12       NaN
2011-10-13    408.43          2011-10-13       NaN
2011-10-14    422.00          2011-10-14       NaN
Name: AAPL, dtype: float64    Name: AAPL, dtype: float64

In [96]:
b, c  = s1.align(s2) #fa la join=outer
side_by_side(b, c)

2011-09-12       NaN          2011-09-12    379.94
2011-09-13       NaN          2011-09-13    384.62
2011-09-14       NaN          2011-09-14    389.30
2011-09-15       NaN          2011-09-15    392.96
2011-09-16       NaN          2011-09-16    400.50
2011-09-19    411.63          2011-09-19    411.63
2011-09-20    413.45          2011-09-20    413.45
2011-09-21    412.14          2011-09-21    412.14
2011-09-22    401.82          2011-09-22    401.82
2011-09-23    404.30          2011-09-23    404.30
2011-09-26    403.17          2011-09-26    403.17
2011-09-27    399.26          2011-09-27    399.26
2011-09-28    397.01          2011-09-28    397.01
2011-09-29    390.57          2011-09-29    390.57
2011-09-30    381.32          2011-09-30    381.32
2011-10-03    374.60          2011-10-03       NaN
2011-10-04    372.50          2011-10-04       NaN
2011-10-05    378.25          2011-10-05       NaN
2011-10-06    377.37          2011-10-06       NaN
2011-10-07    369.80          2011-10-07       NaN
2011-10-10    388.81          2011-10-10       NaN
2011-10-11    400.29          2011-10-11       NaN
2011-10-12    402.19          2011-10-12       NaN
2011-10-13    408.43          2011-10-13       NaN
2011-10-14    422.00          2011-10-14       NaN
Name: AAPL, dtype: float64    Name: AAPL, dtype: float64

In [89]:
b, c  = s1.align(s2, join='right') #fa la join lasciando i NaN del primo insieme
side_by_side(b, c)

2011-09-12       NaN          2011-09-12    379.94
2011-09-13       NaN          2011-09-13    384.62
2011-09-14       NaN          2011-09-14    389.30
2011-09-15       NaN          2011-09-15    392.96
2011-09-16       NaN          2011-09-16    400.50
2011-09-19    411.63          2011-09-19    411.63
2011-09-20    413.45          2011-09-20    413.45
2011-09-21    412.14          2011-09-21    412.14
2011-09-22    401.82          2011-09-22    401.82
2011-09-23    404.30          2011-09-23    404.30
2011-09-26    403.17          2011-09-26    403.17
2011-09-27    399.26          2011-09-27    399.26
2011-09-28    397.01          2011-09-28    397.01
2011-09-29    390.57          2011-09-29    390.57
2011-09-30    381.32          2011-09-30    381.32
Name: AAPL, dtype: float64    Name: AAPL, dtype: float64

In [90]:
b, c  = s1.align(s2, join='left') #fa la join lasciando i NaN del secondo insieme
side_by_side(b, c)

2011-09-19    411.63          2011-09-19    411.63
2011-09-20    413.45          2011-09-20    413.45
2011-09-21    412.14          2011-09-21    412.14
2011-09-22    401.82          2011-09-22    401.82
2011-09-23    404.30          2011-09-23    404.30
2011-09-26    403.17          2011-09-26    403.17
2011-09-27    399.26          2011-09-27    399.26
2011-09-28    397.01          2011-09-28    397.01
2011-09-29    390.57          2011-09-29    390.57
2011-09-30    381.32          2011-09-30    381.32
2011-10-03    374.60          2011-10-03       NaN
2011-10-04    372.50          2011-10-04       NaN
2011-10-05    378.25          2011-10-05       NaN
2011-10-06    377.37          2011-10-06       NaN
2011-10-07    369.80          2011-10-07       NaN
2011-10-10    388.81          2011-10-10       NaN
2011-10-11    400.29          2011-10-11       NaN
2011-10-12    402.19          2011-10-12       NaN
2011-10-13    408.43          2011-10-13       NaN
2011-10-14    422.00          2011-10-14       NaN
Name: AAPL, dtype: float64    Name: AAPL, dtype: float64

In [91]:
df = close_px.ix[-10:, ['AAPL', 'IBM', 'MSFT']]
df

              AAPL     IBM   MSFT
2011-10-03  374.60  173.29  24.53
2011-10-04  372.50  174.74  25.34
2011-10-05  378.25  176.85  25.89
2011-10-06  377.37  181.69  26.34
2011-10-07  369.80  182.39  26.25
2011-10-10  388.81  186.62  26.94
2011-10-11  400.29  185.00  27.00
2011-10-12  402.19  186.12  26.96
2011-10-13  408.43  186.82  27.18
2011-10-14  422.00  190.53  27.27

In [93]:
df2 = df.ix[::2, ['IBM', 'MSFT']] #ix e' per l'indicizzazione
#in questo caso usa il passo 2
side_by_side(df, df2)

              AAPL     IBM   MSFT                   IBM   MSFT
2011-10-03  374.60  173.29  24.53    2011-10-03  173.29  24.53
2011-10-04  372.50  174.74  25.34    2011-10-05  176.85  25.89
2011-10-05  378.25  176.85  25.89    2011-10-07  182.39  26.25
2011-10-06  377.37  181.69  26.34    2011-10-11  185.00  27.00
2011-10-07  369.80  182.39  26.25    2011-10-13  186.82  27.18
2011-10-10  388.81  186.62  26.94
2011-10-11  400.29  185.00  27.00
2011-10-12  402.19  186.12  26.96
2011-10-13  408.43  186.82  27.18
2011-10-14  422.00  190.53  27.27

In [95]:
df + df2 #intersezione

            AAPL     IBM   MSFT
2011-10-03   NaN  346.58  49.06
2011-10-04   NaN     NaN    NaN
2011-10-05   NaN  353.70  51.78
2011-10-06   NaN     NaN    NaN
2011-10-07   NaN  364.78  52.50
2011-10-10   NaN     NaN    NaN
2011-10-11   NaN  370.00  54.00
2011-10-12   NaN     NaN    NaN
2011-10-13   NaN  373.64  54.36
2011-10-14   NaN     NaN    NaN

In [98]:
b, c = df.align(df2, join='inner') #b contiene i dati con gli indici che compaiono in nell'inner join in df
#c contiene i dati con gli indici che compaiono nell'inner join in df2
side_by_side(b, c)

               IBM   MSFT                   IBM   MSFT
2011-10-03  173.29  24.53    2011-10-03  173.29  24.53
2011-10-05  176.85  25.89    2011-10-05  176.85  25.89
2011-10-07  182.39  26.25    2011-10-07  182.39  26.25
2011-10-11  185.00  27.00    2011-10-11  185.00  27.00
2011-10-13  186.82  27.18    2011-10-13  186.82  27.18

In [99]:
b, c = df.align(df2, join='inner') 
a = df.align(df2,join='inner')[0]
d = df.align(df2,join='inner')

# il risultato identico per i tre se stampo i risultati nel seguente mpdo:
print(b)
print(a)
print(d[0])

               IBM   MSFT
2011-10-03  173.29  24.53
2011-10-05  176.85  25.89
2011-10-07  182.39  26.25
2011-10-11  185.00  27.00
2011-10-13  186.82  27.18
               IBM   MSFT
2011-10-03  173.29  24.53
2011-10-05  176.85  25.89
2011-10-07  182.39  26.25
2011-10-11  185.00  27.00
2011-10-13  186.82  27.18
               IBM   MSFT
2011-10-03  173.29  24.53
2011-10-05  176.85  25.89
2011-10-07  182.39  26.25
2011-10-11  185.00  27.00
2011-10-13  186.82  27.18

Transposing
-----------

In [100]:
df[:5].T #trasposizione dei dataframe

      2011-10-03  2011-10-04  2011-10-05  2011-10-06  2011-10-07
AAPL      374.60      372.50      378.25      377.37      369.80
IBM       173.29      174.74      176.85      181.69      182.39
MSFT       24.53       25.34       25.89       26.34       26.25

Columns can be any type
-----------------------

In [102]:
n = 10
foo = pd.DataFrame(index=range(n)) #range di 10 elementi
foo['floats'] = np.random.randn(n)
foo['ints'] = np.arange(n)
foo['strings'] = ['foo', 'bar'] * (n / 2)
foo['bools'] = foo['floats'] > 0
foo['objects'] = pd.date_range('1/1/2000', periods=n)
foo

     floats  ints strings  bools    objects
0 -0.382984     0     foo  False 2000-01-01
1  0.019075     1     bar   True 2000-01-02
2 -0.643886     2     foo  False 2000-01-03
3  0.722772     3     bar   True 2000-01-04
4  0.357954     4     foo   True 2000-01-05
5  0.746309     5     bar   True 2000-01-06
6 -0.607681     6     foo  False 2000-01-07
7 -0.823993     7     bar  False 2000-01-08
8 -0.272265     8     foo  False 2000-01-09
9  0.035311     9     bar   True 2000-01-10

In [104]:
foo.dtypes #dice i tipi contenuti della serie

floats            float64
ints                int64
strings            object
bools                bool
objects    datetime64[ns]
dtype: object

Function application
====================

You can apply arbitrary functions to the rows or columns of a DataFrame

Questi concetti servono se si usa spark

In [109]:
df.apply(np.mean) #apply = applica la funzione media ad ogni colonna --> Passa come parametro una funzione (axis di base e' sulle colonne)

AAPL    389.424
IBM     182.405
MSFT     26.370
dtype: float64

In [110]:
df.apply(np.mean, axis=1) #applica la funzione all'axis=1 ovvero lavora per righe

2011-10-03    190.806667
2011-10-04    190.860000
2011-10-05    193.663333
2011-10-06    195.133333
2011-10-07    192.813333
2011-10-10    200.790000
2011-10-11    204.096667
2011-10-12    205.090000
2011-10-13    207.476667
2011-10-14    213.266667
dtype: float64

You can get as fancy as you want

In [111]:
close_px.head()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32

In [117]:
def peak_date(series):
    return series.index[series.values.argmax()] #definisco delle funzioni ad hoc 
#la funzione peakdata restituisce l'indice (la data) che ha il valore massimo per ciascuna colonna
close_px.apply(peak_date) #applica la funzione non ho messo axis per cui lavoro per colonne

AA     2008-05-19
AAPL   2011-10-14
GE     2007-10-31
IBM    2011-10-14
JNJ    2011-07-07
MSFT   2007-11-01
PEP    2008-01-10
SPX    2007-10-31
XOM    2008-05-20
dtype: datetime64[ns]

In [115]:
print(type(close_px.apply(peak_date)))

<class 'pandas.core.series.Series'>

In [121]:
df.apply(lambda x: x.max() - x.min()) #la funzione lambda mi prende l'indice del valore massimo
# lambda calcolo basato sul paradigma funzionale (java fino alla 7 segue il paradigma imperativo - dalla 8 permette di scrivere delle lambda)

AAPL    52.20
IBM     17.24
MSFT     2.74
dtype: float64

In [123]:
#Esempio funzione lambda
g = lambda x: x**2
print(g(8))

64

In [124]:
#altro esempio
df.apply(lambda x: x) #prima dei due punti c'e' l'argomento dopo i : e' la funzione ovvero come uso l'argomento
#in questo caso quando mi dai un argomento ti restituisco l'argomento

              AAPL     IBM   MSFT
2011-10-03  374.60  173.29  24.53
2011-10-04  372.50  174.74  25.34
2011-10-05  378.25  176.85  25.89
2011-10-06  377.37  181.69  26.34
2011-10-07  369.80  182.39  26.25
2011-10-10  388.81  186.62  26.94
2011-10-11  400.29  185.00  27.00
2011-10-12  402.19  186.12  26.96
2011-10-13  408.43  186.82  27.18
2011-10-14  422.00  190.53  27.27

In [129]:
df.apply(lambda x : x**2) #l'apply applica a ciascun valore (elemento per elemento) ma la media mean mi da un
#solo valore

                   AAPL         IBM      MSFT
2011-10-03  140325.1600  30029.4241  601.7209
2011-10-04  138756.2500  30534.0676  642.1156
2011-10-05  143073.0625  31275.9225  670.2921
2011-10-06  142408.1169  33011.2561  693.7956
2011-10-07  136752.0400  33266.1121  689.0625
2011-10-10  151173.2161  34827.0244  725.7636
2011-10-11  160232.0841  34225.0000  729.0000
2011-10-12  161756.7961  34640.6544  726.8416
2011-10-13  166815.0649  34901.7124  738.7524
2011-10-14  178084.0000  36301.6809  743.6529

In [130]:
np.log(close_px)

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
2007-10-29,3.621938,5.220842,3.539799,4.670771,4.045329,3.458837,4.184642,7.340174,4.448633
2007-10-30,3.595393,5.231109,3.537766,4.664853,4.042876,3.487375,4.186620,7.333689,4.421848
2007-10-31,3.605226,5.246761,3.554491,4.682224,4.048301,3.521644,4.184947,7.345610,4.431174
2007-11-01,3.561614,5.233459,3.534270,4.660794,4.040416,3.528417,4.166820,7.318831,4.392472
2007-11-02,3.578786,5.235750,3.534270,4.668990,4.042174,3.528417,4.174849,7.319633,4.386019
2007-11-05,3.561614,5.226714,3.530763,4.658521,4.037774,3.519573,4.171923,7.314666,4.382901
2007-11-06,3.579065,5.256401,3.530470,4.656528,4.039536,3.510650,4.181897,7.326643,4.413525
2007-11-07,3.548467,5.227358,3.502550,4.641406,4.028739,3.485845,4.166045,7.296834,4.381527
2007-11-08,3.555348,5.167468,3.501043,4.595625,4.039360,3.463859,4.182050,7.296257,4.406719
2007-11-09,3.540089,5.108185,3.484619,4.538817,4.048126,3.434310,4.181745,7.281867,4.377516
2007-11-12,3.506458,5.035393,3.481240,4.550714,4.065602,3.423937,4.169297,7.271829,4.350536
2007-11-13,3.527536,5.135563,3.505858,4.587719,4.080584,3.459152,4.179757,7.300507,4.377893
2007-11-14,3.533687,5.112650,3.500741,4.570165,4.074312,3.443618,4.189503,7.293412,4.371345
2007-11-15,3.519277,5.101694,3.482777,4.571717,4.074142,3.438493,4.183118,7.280112,4.350020
2007-11-16,3.518684,5.114334,3.491647,4.583129,4.086984,3.448081,4.190866,7.285328,4.357222
2007-11-19,3.484005,5.099562,3.478776,4.558288,4.084631,3.444257,4.203199,7.267714,4.345492
2007-11-20,3.492865,5.129011,3.475686,4.569957,4.085472,3.462606,4.200055,7.272190,4.388630
2007-11-21,3.486763,5.126698,3.452524,4.558288,4.078046,3.452207,4.202750,7.256135,4.379774
2007-11-23,3.486151,5.144816,3.466048,4.576050,4.080246,3.448717,4.209012,7.272884,4.393955
2007-11-26,3.478467,5.150629,3.440739,4.555875,4.087656,3.414772,4.198104,7.249371,4.363990
2007-11-27,3.483085,5.163700,3.460095,4.573886,4.093010,3.417399,4.214347,7.264191,4.372103
2007-11-28,3.516013,5.194178,3.486763,4.607468,4.101982,3.436565,4.230622,7.292351,4.389747
2007-11-29,3.525478,5.216511,3.478158,4.608664,4.102809,3.433342,4.222445,7.292827,4.397408
2007-11-30,3.520461,5.205215,3.482163,4.586803,4.093177,3.433665,4.230913,7.300567,4.403788
2007-12-03,3.495901,5.186603,3.446171,4.592996,4.092677,3.413126,4.223031,7.294663,4.400358
2007-12-04,3.489208,5.191901,3.427515,4.600560,4.096010,3.408835,4.223910,7.288101,4.392101
2007-12-05,3.499231,5.223055,3.440098,4.614823,4.099995,3.449988,4.223910,7.303177,4.412313
2007-12-06,3.506158,5.246761,3.455054,4.628887,4.101320,3.461665,4.233817,7.318102,4.429029
2007-12-07,3.535145,5.269403,3.454106,4.621240,4.092176,3.461037,4.233382,7.316322,4.429745
2007-12-10,3.560193,5.268940,3.458837,4.626051,4.093844,3.467609,4.237001,7.323804,4.435449
...,...,...,...,...,...,...,...,...,...
2011-09-02,2.488234,5.924389,2.747912,5.117874,4.159976,3.250374,4.147885,7.068146,4.278609
2011-09-06,2.465554,5.939487,2.715357,5.106612,4.168833,3.239071,4.134366,7.060682,4.264790
2011-09-07,2.505526,5.950460,2.750471,5.119848,4.180981,3.258097,4.120986,7.088926,4.299324
2011-09-08,2.487404,5.951007,2.736962,5.107459,4.173618,3.266522,4.116432,7.078257,4.287991
2011-09-09,2.449279,5.933518,2.704711,5.083700,4.153242,3.248046,4.094178,7.051189,4.262821
2011-09-12,2.446685,5.940013,2.699346,5.090186,4.152456,3.253857,4.096675,7.058130,4.274441
2011-09-13,2.453588,5.952256,2.725235,5.096385,4.152771,3.259634,4.103304,7.067209,4.271793
2011-09-14,2.462150,5.964350,2.749832,5.119430,4.154655,3.277145,4.120337,7.080599,4.285516
2011-09-15,2.483239,5.973708,2.777576,5.136328,4.165114,3.295466,4.146621,7.097640,4.304200
2011-09-16,2.482404,5.992714,2.793004,5.153234,4.168060,3.300271,4.127941,7.103330,4.311470
2011-09-19,2.449279,6.020125,2.783776,5.154043,4.161068,3.303585,4.103635,7.093479,4.300003
2011-09-20,2.420368,6.024537,2.775086,5.163185,4.162315,3.295096,4.100824,7.091817,4.304200
2011-09-21,2.383243,6.021363,2.733068,5.153407,4.145196,3.257712,4.107425,7.061986,4.276249
2011-09-22,2.313525,5.996004,2.710713,5.127648,4.125843,3.221273,4.109562,7.029583,4.237579
2011-09-23,2.309561,6.002157,2.721953,5.131909,4.120500,3.221273,4.099995,7.035647,4.238589
2011-09-26,2.346602,5.999358,2.745346,5.161982,4.138202,3.236323,4.125359,7.058715,4.272770
2011-09-27,2.349469,5.989613,2.757475,5.180153,4.156067,3.245323,4.134046,7.069347,4.289226
2011-09-28,2.299581,5.983961,2.737609,5.179252,4.147095,3.241811,4.126650,7.048439,4.277638
2011-09-29,2.308567,5.967607,2.763800,5.188335,4.157319,3.236716,4.136446,7.056520,4.302442
2011-09-30,2.258633,5.943639,2.722610,5.164043,4.154028,3.214466,4.125520,7.031229,4.285378
2011-10-03,2.186051,5.925859,2.687167,5.154966,4.128424,3.199897,4.099166,7.002365,4.264790
2011-10-04,2.210470,5.920237,2.698673,5.163299,4.129873,3.232384,4.101817,7.024605,4.288128
2011-10-05,2.237513,5.935555,2.725890,5.175302,4.132764,3.253857,4.099166,7.042312,4.303389
2011-10-06,2.290513,5.933226,2.742774,5.202302,4.140114,3.271089,4.103800,7.060451,4.302578
2011-10-07,2.273156,5.912962,2.740840,5.206147,4.145196,3.267666,4.111202,7.052254,4.298101
2011-10-10,2.311545,5.963091,2.781301,5.229074,4.165579,3.293612,4.125035,7.085809,4.334411
2011-10-11,2.332144,5.992189,2.781301,5.220356,4.158258,3.295837,4.110054,7.086353,4.334280
2011-10-12,2.307573,5.996925,2.797281,5.226392,4.164026,3.294354,4.138361,7.096100,4.345881
2011-10-13,2.312535,6.012321,2.786245,5.230146,4.162470,3.302481,4.132924,7.093122,4.335590
2011-10-14,2.328253,6.045005,2.809403,5.249810,4.170070,3.305787,4.130998,7.110353,4.358118

Plotting
========

Some basic plotting integration with matplotlib in Series / DataFrame

In [ ]:
close_px[['AAPL', 'IBM', 'MSFT', 'XOM']].plot()

In [ ]:
close_px.ix[-1]

In [ ]:
close_px.ix[-1].plot(kind='bar')
title('Prices on %s' % close_px.index[-1])
axhline(0)

GroupBy
=======

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three',
                       'two', 'two', 'one', 'three'],
                'C' : np.random.randn(8),
                'D' : np.random.randn(8)})
df

In [ ]:
for key, group in df.groupby('A'):
    print key
    print group

In [ ]:
df.groupby('A')['C'].describe().T

In [ ]:
df.groupby('A').mean()

In [ ]:
for key, group in df.groupby('A'):
    print key
    print group

In [ ]:
df.groupby(['A', 'B']).mean()

In [ ]:
df.groupby(['A', 'B'], as_index=False).mean()

---

## Analysis of the baby names dataset

In [ ]:
names = pd.read_csv('baby-names.csv')

In [ ]:
names.head()

In [ ]:
names.dtypes

In [ ]:
names[names.year == 1880]

In [ ]:
names[names.year == 1880].tail()

In [ ]:
boys = names[names.sex == 'boy']    
girls = names[names.sex == 'girl']

In [ ]:
boys.groupby('year')

In [ ]:
boys.groupby('year').size()

In [ ]:
names.groupby(['year', 'sex']).size()

In [ ]:
type(names.groupby(['year', 'sex']).size())

In [ ]:
names.groupby(['year', 'sex']).size().ix[2000]

In [ ]:
boys[boys.year == 2000]

In [ ]:
boys[boys.year == 2000].prop

In [ ]:
boys[boys.year == 2000][:5]

In [ ]:
boys[boys.year == 2000].prop.idxmax()

In [ ]:
boys.ix[boys[boys.year == 2000].prop.idxmax()]

In [ ]:
def get_max_record(group):
    return group.ix[group.prop.idxmax()]

get_max_record(boys)

In [ ]:
def get_max_record(group):
    return group.ix[group.prop.idxmax()]

result = boys.groupby('year').apply(get_max_record)

In [ ]:
result

In [ ]:
result.prop.plot()

In [ ]:
boys[boys.name == 'Travis']

In [ ]:
idf = boys.set_index(['name', 'year'])

In [ ]:
idf[-50:]

In [ ]:
idf.ix['Travis']

In [ ]:
idf.ix['Travis'].prop.plot()

In [ ]:
boys.groupby('name')['prop'].mean()

In [ ]:
boys.groupby('name')['prop'].mean().sort_values()

In [ ]:
boys['prop'].describe()

In [ ]:
result = boys.groupby('year')['prop'].describe()

In [ ]:
result[:50]

In [ ]:
df = boys[boys.year == 2008]

In [ ]:
df.prop

In [ ]:
df = boys[boys.year == 2008].sort_values(by='prop', ascending=False)

In [ ]:
df.prop

In [ ]:
df.prop.cumsum()

In [ ]:
df.prop.values.cumsum().searchsorted(0.5)   # Also used as a measure of diversity.

In [ ]:
df.prop.cumsum()[:130]

In [ ]:
def get_quantile_count(group, quantile = 0.5):
    df = group.sort_values(by='prop', ascending=False)
    return df.prop.values.cumsum().searchsorted(quantile)

boys.groupby('year').apply(get_quantile_count).plot()

In [ ]:
def get_quantile_count(group, quantile=0.5):
    group = group.groupby('soundex').sum()
    df = group.sort_values(by='prop', ascending=False)
    return df.prop.values.cumsum().searchsorted(quantile)

q = 0.25
boy_ct = boys.groupby('year').apply(get_quantile_count, quantile=q)   # pass different values for quantile
girl_ct = girls.groupby('year').apply(get_quantile_count, quantile=q)
boy_ct.plot(label='boy')
girl_ct.plot(label='girl')
legend(loc='best')

In [ ]:
boys[boys.year == 2008].prop.rank()

In [ ]:
grouped = boys.groupby('year')['prop']

In [ ]:
grouped.transform(pd.Series.rank)

In [ ]:
boys['year_rank'] = grouped.transform(pd.Series.rank)

In [ ]:
boys[boys.name == 'Andrew'].year_rank.plot()

In [ ]:
names

In [ ]:
births = pd.read_csv('births.csv')

In [ ]:
merged = pd.merge(names, births, on=['year', 'sex'])

In [ ]:
pd.merge(names, births)

In [ ]:
merged['persons'] = np.floor(merged.prop * merged.births)

In [ ]:
merged.head()

In [ ]:
merged.groupby(['name', 'sex'])['persons'].sum()

In [ ]:
merged.groupby(['name', 'sex'])['persons'].sum().sort_values()

In [ ]:
mboys = pd.merge(boys, births)

In [ ]:
mboys['persons'] = np.floor(mboys.prop * mboys.births)

In [ ]:
persons = mboys.set_index(['year', 'name']).persons

In [ ]:
type(persons)

In [ ]:
persons

In [ ]:
persons.ix[:, 'Christopher'].plot(kind='bar', rot=90)  # Plot is crowded. Matplotlib doesn't go more than 130 in x axis.

---

Reproduction of [Quantifying Trading Behavior in Financial Markets Using Google Trends](http://www.nature.com/srep/2013/130425/srep01684/pdf/srep01684.pdf)
==============================================

In this section we will reproduce a paper published recently on using Google Trends search volume for specific terms (e.g. 'debt') to predict market movements.

In [ ]:
from IPython.core.display import HTML
HTML("<iframe src=http://www.nature.com/srep/2013/130425/srep01684/full/srep01684.html width=900 height=400></iframe>")

In [ ]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('figure', figsize=(8, 7))

Tobias Preis was kind enough to provide me with the data used in this publication. There are many Google Trends search words but here we will only be using 'debt'.

In [ ]:
data = pd.read_csv('GoogleTrendsData.csv', index_col='Date', parse_dates=True)
data.head()

djia is the Dow Jones Industrial Average

In [ ]:
data.plot(subplots=True)

The authors detect if search volume is relatively increasing or decreasing in any given week by forming a moving average and testing if the current value crosses the moving average of the past 3 weeks. 

Lets first compute the moving average.

In [ ]:
data['debt_mavg'] = data.debt.rolling(window=3).mean()
data.head()

Since we want to see if the current value is above the moving average of the *preceeding* weeks, we have to shift the moving average timeseries forward by one.

In [ ]:
data['debt_mavg'] = data.debt_mavg.shift(1)
data.head(10)

### Generate the order signals.

From the paper:

"We use Google Trends to determine how many searches n(t ‚Äì 1) have been carried out for a specific search term such as debt in week t ‚Äì 1, where Google defines weeks as ending on a Sunday, relative to the total number of searches carried out on Google during that time."

and

"We implement this strategy by selling the DJIA at the closing price p(t) on the first trading day of week t, if Œîn(t ‚àí 1, Œît) > 0, and buying the DJIA at price p(t + 1) at the end of the first trading day of the following week. [...]. If instead Œîn(t ‚àí 1, Œît) < 0, then we buy the DJIA at the closing price p(t) on the first trading day of week t and sell the DJIA at price p(t + 1) at the end of the first trading day of the coming week."

In [ ]:
data.loc[:, 'order'] = 0
data.loc[data.debt > data.debt_mavg, 'order'] = -1 # Short if search volume goes up relative to mavg.
data.loc[data.debt < data.debt_mavg, 'order'] = 1 # Long if search volume goes down relative to mavg.
data.head(10)

### Compute returns

In [ ]:
data['ret_djia'] = data.djia.pct_change()
data.head()

Returns at week `t` are relative to week `t-1`. However, we are buying at week `t` and selling at week `t+1`, so we have to adjust by shifting the returns upward.

In [ ]:
data['ret_djia'] = data['ret_djia'].shift(-1)
data.head()

The algorithm that is used by the authors makes a decision every Monday of whether to long or short the Dow Jones. After this week passed, we exit all positions (sell if we longed, buy if we shorted) and make a new trading decision.

The `ret` column contains the weekly returns. Thus, if we buy at week `t` sell at week `t+1` we make the returns of week `t+1`. Conversely, if we short at week `t` and buy back at week `t+1` we make the negative returns of week `t+1`.

In [ ]:
# Compute returns of our strategy
data['ret_google'] = data.order * data.ret_djia
data.head(10)

Now we just have to compound the returns. As we are reinvesting our earns, returns actually do not compound by summing them up but by taking their cumulative product:

$$i_t = (i_{t-1} + i_{t-1} \cdot r_t) = (1 + r_t) \cdot i_{t-1}, \quad i_0 = 1$$

In [ ]:
figure(figsize=(9, 2))
(1 + data.ret_google).cumprod().plot()
plt.ylabel('Portfolio value')

In [ ]:
from IPython.core.display import Image 
Image("http://www.nature.com/srep/2013/130425/srep01684/carousel/srep01684-f2.jpg")

# Credits

This notebook was partly extracted from the Tutorial of Wes McKinney, author of Pandas, at Pycon 2013 in Santa Clara.


The Google Trends example was extracted from the tutorial **Financial Analysis in Python**, given by Thomas Wiecki at PyData Boston 2013